<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Titanium.gg</title>
        <!-- <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script> -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color:#D3D3D3;
            }
            #main {
                left:50%;
                top:30%;
                margin-left:-100px; /* Metade do valor da Largura */
                margin-top:-50px; /* Metade da valor da Altura */
                position:absolute;
            }
            input[list="servers"]{
                text-align: center;
                width: 11em;
                height: 2em;
                border: none;
                border-radius: 5px;
                background-color: #DCDCDC;
                color: #000;
                border-style: solid;
                border-width: 1px;
                border-color: #778899;
                transition: 2s;
            }
            
            input[list="servers"]:focus{
                width: 13em;
                height: 3em;
                background-color: #7CFC00;
                border-style: solid;
                border-color: #B0C4DE;
                border-width: 1px;
            }
            
            input[type="text"]{
                text-align: center;
                width: 11em;
                height: 2em;
                border: none;
                border-radius: 5px;
                background-color: #DCDCDC;
                color: #000;
                border-style: solid;
                border-width: 1px;
                border-color: #778899;
                transition: 2s;
            }
            
            input[type="text"]:focus{
                width: 13em;
                height: 3em;
                background-color: #7CFC00;
                border-style: solid;
                border-color: #B0C4DE;
                border-width: 1px;
            }
            
            button#search{
                width: 6em;
                height: 2em;
                cursor: pointer;
                border-style: solid;
                color: #696969;
                border-color: #778899;
                background-color:#DCDCDC;
                transition: 2s;
            }
            
            button#search:hover, button#search:focus{
                width: 8em;
                height: 2.5em;
                box-shadow: 0.5em 0.5em 1px #BEBEBE;
                background-color:#7CFC00;
            }
            h1{
                margin-bottom: 5px;
                text-transform: uppercase;
                font-family: Arial, sans-serif;
                text-size: 13em;
            }
        </style>
    </head>
    <body>
        <div id="main" align="center">
            <h1>Titanium.GG</h1>
            <form id="form_summoner" method="post" action="/summoner">
                <input list="servers" name="server" id="servers_input" required placeholder="Lista de Servers" autosave="off" autocomplete="off" autofocus="on">
                <datalist id="servers">
                    {% for key in servers.getKeys() %}
                        <option value="{{ key|upper }}">
                    {% endfor %}
                </datalist><br>
                <input type="text" name="summoner" id="summoner" required placeholder="Nickname" autosave="off" autocomplete="off"/><br>
                <button id="search">Submit</button>
            </form>
            <img alt="Maokai" src="https://art.ngfiles.com/images/342000/342522_thumbsdown_animated-lol-maokai.gif?f1423938655"/>
        </div>
    </body>
</html>
